<div [ngClass]="{ snapped: click }">
  <!--click-->
  <p>{{ 4346234.36 |number:'1.0-1'}}</p>
  <h2>{{ faceSnap.title | titlecase }}</h2>
  <p>mise en ligne le {{ faceSnap.createdDate | date : 'longDate'}}</p>
  <button (click)="handleClick()">click me</button>
  <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title" class="img" />
  <p>{{ faceSnap.description }}</p>
  <p *ngIf="faceSnap.location">{{ faceSnap.location }}</p>
  <button (click)="onSnap()">{{ buttonText }}</button>
  <span [ngStyle]="{ color: 'rgb(0, ' + faceSnap.snaps + ', 0)' }"
    >🤌 {{ faceSnap.snaps }}</span
  >
  <button (click)="onViewFaceSnap()">VIEW</button>
</div>
